.title {
    color :rgb(112, 13, 13);
    font-weight: bold;
    font-size: x-large;
}

.nutritionList{
    list-style: none;
    padding-left: 18px;
}

.nutritionList li {
    position: relative;
    padding-left: 20px; 
}

.nutritionList li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    color: black;
}
  